@import url('./assets/normalize.css');
@import url('./assets/fonts.css');

html {
  scroll-behavior: smooth;
}

.root {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  font: normal 20px/2 'Inter', Arial, sans-serif;
  --color-dark: #000;
  --color-light: #fff;
  --color-decoration: #bdae82;
  --main-width: 1440px;
  background-color: var(--color-dark);
  color: var(--color-dark);
  -webkit-text-size-adjust: auto;
  -ms-text-size-adjust: auto;
  -moz-text-size-adjust: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hover-effect {
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.hover-effect:hover {
  opacity: 0.9;
}

.logo__icon {
  width: 50px;
  height: 50px;
  fill: var(--color-light);
}

.logo__icon:hover {
  fill: var(--color-decoration);
}

.section {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  width: 100%;
  padding-top: 100px;
}

.button__order {
  width: 220px;
  height: 55px;
  background-color: var(--color-decoration);
  color: var(--color-dark);
  padding: 0;
  border: none;
}

.button__order:hover {
  color: var(--color-light);
}

.header {
  display: grid;
  grid-template-columns: 1fr max-content max-content;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  width: var(--main-width);
  padding: 0 20px;
  box-sizing: border-box;
  gap: 31px;
  background: url('./assets/img/header-background.png');
  background-position: center 0;
  background-repeat: no-repeat;
}

.header__container {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
  gap: 31px;
}

.header__logo {
  width: 50px;
  height: auto;
}

.header__menu {
  display: flex;
  gap: 30px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.header__menu-link {
  color: var(--color-light);
  text-decoration: none;
}

.header__menu-link:hover {
  color: var(--color-decoration);
}

.header__switcher {
  display: flex;
  gap: 18px;
  font-weight: bold;
  color: var(--color-light);
  list-style: '/';
  padding: 0;
  margin: 0;
}

.header__switcher-item {
  padding-left: 9px;
}

.header__switcher-item:first-of-type {
  list-style-type: none;
  padding-left: 0;
}

.header__switcher-link {
  text-decoration: none;
  color: var(--color-light);
}

.header__switcher-link:hover {
  color: var(--color-decoration);
}

.header__switcher-link_active {
  color: var(--color-decoration);
}

.main {
  width: var(--main-width);
  padding: 0 20px;
}

.hero {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  background-image: url('./assets/img/header-background.png');
  background-position: center -90px;
  background-repeat: no-repeat;
  height: 820px;
  padding: 160px 0 0 80px;
  box-sizing: border-box;
}

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 530px;
  height: 330px;
}

.hero__title {
  font-family: 'Merriweather';
  font-weight: 700;
  color: var(--color-light);
  font-size: 60px;
  margin: 0;
  line-height: 2;
}

.hero__text {
  margin: 0;
  color: var(--color-light);
}

.section__title {
  position: relative;
  margin: 0 0 60px 0;
  text-align: center;
  font-family: Merriweather;
  overflow: hidden;
  font-weight: 700;
  width: calc(50% - 20px);
  font-size: 40px;
  color: var(--color-decoration);
  background-image: linear-gradient(
    to top,
    #000 39px,
    #bdae82 39px,
    #bdae82 41px,
    #000 41px
  );
}

.section__title-cover {
  background-color: var(--color-dark);
  padding: 0 20px;
}

.skills__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  color: var(--color-light);
  list-style-type: none;
  max-width: 1400px;

  padding: 0;
  margin: 0;
}

.skills__list-item {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  font-size: 18px;
  padding: 0 20px;
  height: 240px;
}

.skills__icon {
  width: auto;
  margin-bottom: 35px;
  height: 50px;
  fill: var(--color-decoration);
}

.skills__subtitle {
  font-size: 20px;
  font-weight: 700;
  margin: 0;
}

.skills__text {
  font-size: 18px;
  margin: 0;
  text-align: center;
}

.portfolio__filter {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  gap: 5px;
  list-style-type: none;
  padding: 0;
  margin: 0 0 60px 0;
}

.portfolio__filter-button {
  width: 220px;
  height: 55px;
  background-color: var(--color-dark);
  color: var(--color-decoration);
  box-sizing: border-box;
  padding: 0;
  border: 1px solid var(--color-decoration);
  cursor: pointer;
}

.portfolio__filter-button:hover {
  color: var(--color-dark);
  background-color: var(--color-decoration);
}

.portfolio__filter-button_active {
  color: var(--color-dark);
  background-color: var(--color-decoration);
}

.portfolio__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  gap: 25px;
  max-width: 1400px;
  width: 100%;
  padding: 0;
  list-style-type: none;
  margin: 0;
}

.portfolio__list-item {
  padding: 0;
  width: 450px;
  height: 560px;
}
.video__player {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  max-width: 1400px;
}

.video__player-image {
  height: auto;
  max-width: 100%;
  object-fit: contain;
  height: auto;
}

.video__player-button {
  position: absolute;
  border: none;
  background-color: transparent;
  background-image: url(./assets/svg/play-button-icon.svg);
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 50%;
  padding: 0;
  width: 130px;
  height: 130px;
}

.video__player-button:hover {
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
}

.price__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  max-width: 1400px;
  width: 100%;
  padding: 0 0 100px 0;
  list-style-type: none;
  margin: 0;
  color: var(--color-light);
  gap: 25px;
}

.price__list-item {
  display: grid;
  box-sizing: border-box;
  height: 505px;
  grid-template-columns: 1fr;
  align-content: space-between;
  justify-items: center;
  padding: 43px;
  border: 3px solid var(--color-decoration);
}

.price__subtile {
  font-family: 'Merriweather';
  font-weight: 700;
  font-size: 28px;
  line-height: 2;
  margin: 0;
}

.price__text {
  font-family: 'Merriweather';
  font-weight: 700;
  font-size: 24px;
  line-height: 2;
  margin: 0;
  color: var(--color-decoration);
}

.price__sublist {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  padding: 0;
  list-style-type: none;
  margin: 0;
  font-size: 18px;
}

.contacts {
  display: grid;
  justify-items: end;
  background: url('./assets/img/contacts-background.png');
  background-size: auto 700px;
  background-position: center center;
}

.form__container {
  display: grid;
  max-width: 450px;
  width: 100%;
  margin: 0 20px 195px 0;
  max-height: 445px;
  padding-top: 60px;
}

.form__title {
  font-family: Merriweather;
  margin: 0 0 40px 0;
  overflow: hidden;
  font-weight: 700;
  font-size: 40px;
  line-height: 2;
  color: var(--color-decoration);
}

.form__fieldset {
  display: grid;
  grid-template-columns: 1fr;
  height: 100%;
  border: none;
  padding: 0;
  margin: 0;
}

.form__input {
  color: var(--color-decoration);
  outline: none;
  height: 50px;
  margin-bottom: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid var(--color-decoration);
  box-sizing: border-box;
  padding-left: 20px;
}

.form__textarea {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0;
  height: 100px;
  resize: none;
  outline: none;
  margin-bottom: 30px;
  border: 2px solid var(--color-decoration);
  box-sizing: border-box;
  color: var(--color-decoration);
  font-size: 20px;
  padding: 10px 0 0 20px;
}

::placeholder {
  color: var(--color-decoration);
  font-size: 20px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: var(--main-width);
  padding: 0 20px;
  box-sizing: border-box;
  height: 150px;
}

.footer__copyright {
  color: var(--color-light);
}

.footer__social {
  display: flex;
  align-content: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
  gap: 20px;
}

.footer__social-item {
  display: flex;
  align-content: center;
}
.footer__social-link {
  display: flex;
}

.footer__link {
  text-decoration: none;
  color: var(--color-light);
  line-height: 2.5;
}

.footer__social-icon {
  width: 32px;
  height: 32px;
  fill: var(--color-light);
}

.footer__social-icon:hover {
  fill: var(--color-decoration);
}

.footer__link:hover {
  color: var(--color-decoration);
}
