@import url('./assets/normalize.css');
@import url('./assets/fonts.css');

/* Common styles */

html {
  scroll-behavior: smooth;
}

.root {
  display: grid;

  box-sizing: border-box;
  width: 100%;
  height: 100%;

  color: var(--color-dark);
  background-color: var(--color-dark);

  font: normal 20px/2 'Inter', Arial, sans-serif;

  --color-dark: #000;
  --color-decoration: #bdae82;
  --color-light: #fff;
  -webkit-font-smoothing: antialiased;
  grid-template-columns: 1fr;
  justify-items: center;
  --main-width: 1440px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: auto;
  -moz-text-size-adjust: auto;
  -ms-text-size-adjust: auto;
}

.common-width {
  display: grid;
  max-width: var(--main-width);
  width: 100%;
}

.common-indent {
  padding: 0 20px;
}

@media screen and (max-width: 1024px) {
  .common-indent {
    padding: 0 40px;
  }
}
@media screen and (max-width: 768px) {
  .common-indent {
    padding: 0 60px;
  }
}

.section {
  display: grid;

  width: 100%;
  padding-top: 100px;

  grid-template-columns: 1fr;
  justify-items: center;
}

.hover-effect {
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.hover-effect:hover {
  opacity: 0.9;
}

.icon {
  fill: var(--color-light);
}

.icon:hover {
  fill: var(--color-decoration);
}

.button {
  box-sizing: border-box;
  width: 220px;
  height: 55px;
  padding: 0;

  color: var(--color-dark);
  border: 1px solid var(--color-decoration);
  background-color: var(--color-decoration);
}

.button:hover {
  color: var(--color-light);
}

.link {
  text-decoration: none;

  color: var(--color-light);
}

.section__title {
  position: relative;

  overflow: hidden;

  width: calc(50% - 20px);
  margin: 0 0 60px 0;

  text-align: center;

  color: var(--color-decoration);
  background-image: linear-gradient(
    to top,
    #000 39px,
    #bdae82 39px,
    #bdae82 41px,
    #000 41px
  );

  font-family: Merriweather;
  font-size: 40px;
  font-weight: 700;
}

.section__title-cover {
  padding: 0 20px;

  background-color: var(--color-dark);
}

/* Header */

.header {
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  height: 90px;
  background: url(./assets/img/header-background.jpg);
  background-repeat: no-repeat;
  background-position: center 0;
  gap: 31px;
  grid-template-columns: 1fr max-content max-content;
}

@media screen and (max-width: 1024px) {
  .header {
    background-size: auto 720px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    background-position: -5px -30px;
    background-size: auto 620px;
  }
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: end;

  width: 100%;

  gap: 31px;
}

.header__logo {
  width: 50px;
  height: auto;
}

.logo__icon {
  width: 50px;
  height: 50px;
}

.header__link {
  display: flex;
  align-content: center;
}

.list {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.header__menu {
  display: flex;

  gap: 30px;
}

.header__menu-link:hover {
  color: var(--color-decoration);
}

.header__switcher {
  display: flex;

  color: var(--color-light);

  font-weight: bold;

  gap: 18px;
}

.header__switcher-item {
  padding-left: 9px;

  list-style: '/';
}

.header__switcher-item:first-of-type {
  padding-left: 0;

  list-style-type: none;
}

.header__switcher-link {
  text-decoration: none;

  color: var(--color-light);
}

.header__switcher-link:hover {
  color: var(--color-decoration);
}

.header__switcher-link_active {
  color: var(--color-decoration);
}

/* Main */
/* Hero */

.hero {
  display: grid;
  position: relative;
  box-sizing: border-box;
  width: 100%;
  max-height: 820px;
  height: 100%;

  background-image: url('./assets/img/header-background.jpg');
  background-repeat: no-repeat;
  background-position: center -90px;

  grid-template-columns: 1fr;
  grid-template-rows: minmax(500px, 820px);
}

@media screen and (max-width: 1024px) {
  .hero {
    max-height: 600px;
    background-size: auto 720px;
  }
}
@media screen and (max-width: 768px) {
  .hero {
    max-height: 500px;
    background-position: -5px -120px;
    background-size: auto 620px;
  }
}

.hero__container {
  display: grid;
  position: absolute;
  top: 160px;
  left: 80px;
  max-width: 470px;
  width: 100%;
  height: 330px;
  max-height: 100%;

  grid-template-columns: 1fr;
}

@media screen and (max-width: 1024px) {
  .hero__container {
    top: 120px;
    left: 70px;
    max-height: 300px;
    max-width: 440px;
  }
}

@media screen and (max-width: 768px) {
  .hero__container {
    top: 78px;
    left: 60px;
    max-height: 270px;
    max-width: 390px;
  }
}

.hero__title {
  margin: 0;

  color: var(--color-light);

  font-family: 'Merriweather';
  font-size: 60px;
  font-weight: 700;
  line-height: 2;
}

@media screen and (max-width: 1024px) {
  .hero__title {
    font-size: 46px;
  }
}
@media screen and (max-width: 768px) {
  .hero__title {
    font-weight: 400;
    font-size: 32px;
  }
}

.hero__text {
  margin: 0;

  color: var(--color-light);
}

@media screen and (max-width: 1024px) {
  .hero__text {
    line-height: 1.5;
  }
}

@media screen and (max-width: 768px) {
  .hero__text {
    line-height: 1.25;
  }
}

.hero__button {
  align-self: end;
}

/* Skills */

.skills__list {
  width: 100%;
  display: grid;
  color: var(--color-light);
  gap: 40px;
  grid-template-columns: repeat(auto-fit, 320px);
  justify-content: center;
}

.skills__list-item {
  display: grid;

  height: 240px;
  padding: 0 20px;

  font-size: 18px;

  grid-template-columns: 1fr;
  justify-items: center;
}

.skills__icon {
  width: auto;
  height: 50px;
  margin-bottom: 35px;

  fill: var(--color-decoration);
}

.skills__subtitle {
  margin: 0;

  font-size: 20px;
  font-weight: 700;
}

.skills__text {
  display: flex;
  align-items: center;

  margin: 0;

  text-align: center;

  font-size: 18px;
}

/* Portfolio */

.portfolio__filter {
  display: grid;
  justify-content: center;

  margin: 0 0 60px 0;

  gap: 5px;
  grid-template-columns: repeat(4, 1fr);
}

.portfolio__filter-item {
  padding: 0;
}

.portfolio__filter-button {
  cursor: pointer;

  color: var(--color-decoration);
  background-color: var(--color-dark);
}

.portfolio__filter-button:hover {
  color: var(--color-light);
  background-color: var(--color-dark);
}

.portfolio__filter-button_active {
  color: var(--color-dark);
  background-color: var(--color-decoration);
}

.portfolio__list {
  display: grid;

  width: 100%;
  max-width: 1400px;

  gap: 25px;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
}

.portfolio__list-item {
  width: 450px;
  height: 560px;
  padding: 0;
}

/* Video */

.video__player {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  max-width: 1400px;
}

.video__player-image {
  max-width: 100%;
  height: auto;
  height: auto;

  object-fit: contain;
}

.video__player-button {
  position: absolute;

  width: 130px;
  height: 130px;
  padding: 0;

  border: none;
  border-radius: 50%;
  background-color: transparent;
  background-image: url(./assets/svg/play-button-icon.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.video__player-button:hover {
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
}

/* Price */

.price__list {
  display: grid;

  width: 100%;
  max-width: 1400px;
  padding: 0 0 100px 0;

  color: var(--color-light);

  gap: 25px;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
}

.price__list-item {
  display: grid;

  box-sizing: border-box;
  height: 505px;
  padding: 40px;

  border: 3px solid var(--color-decoration);

  grid-template-columns: 1fr;
  justify-items: center;
}

.price__subtitle {
  margin: 0;

  font-family: 'Merriweather';
  font-size: 28px;
  font-weight: 700;
  line-height: 2;
}

.price__text {
  margin: 0;

  color: var(--color-decoration);

  font-family: 'Merriweather';
  font-size: 24px;
  font-weight: 700;
  line-height: 2;
}

.price__sublist {
  display: grid;

  height: 180px;

  font-size: 18px;

  grid-template-columns: 1fr;
  justify-items: center;
}

.price__list-button {
  align-self: end;
}

/* Contacts */
.contacts {
  display: grid;

  background: url('./assets/img/contacts-background.jpg');
  background-position: center center;
  background-size: auto 700px;

  justify-items: end;
}

.form__container {
  display: grid;

  width: 100%;
  max-width: 450px;
  max-height: 445px;
  margin: 0 20px 195px 0;
  padding-top: 60px;
}

.form__title {
  overflow: hidden;

  margin: 0 0 40px 0;

  color: var(--color-decoration);

  font-family: Merriweather;
  font-size: 40px;
  font-weight: 700;
  line-height: 2;
}

.form__fieldset {
  display: grid;

  height: 100%;
  margin: 0;
  padding: 0;

  border: none;

  grid-template-columns: 1fr;
}

.form__input {
  box-sizing: border-box;
  height: 50px;
  margin-bottom: 20px;
  padding-left: 20px;

  color: var(--color-decoration);
  border: 2px solid var(--color-decoration);
  outline: none;
  background-color: rgba(0, 0, 0, 0.5);
}

.form__textarea {
  box-sizing: border-box;
  height: 100px;
  margin-bottom: 30px;
  padding: 0;
  padding: 10px 0 0 20px;

  resize: none;

  color: var(--color-decoration);
  border: 2px solid var(--color-decoration);
  outline: none;
  background-color: rgba(0, 0, 0, 0.5);

  font-size: 20px;
}

::placeholder {
  color: var(--color-decoration);

  font-size: 20px;
}

/* Footer */

.footer {
  grid-template-columns: repeat(3, max-content);
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  height: 150px;
}

.footer__copyright {
  display: flex;
  align-items: center;

  width: 188px;
  margin: 0;

  color: var(--color-light);

  gap: 20px;
}

.footer__social {
  display: flex;
  align-content: center;

  gap: 20px;
}

.footer__social-item {
  display: flex;
  align-content: center;
}

.footer__social-link {
  display: flex;
}

.footer__link {
  line-height: 2.5;
}

.footer__social-icon {
  width: 32px;
  height: 32px;
}

.footer__link:hover {
  color: var(--color-decoration);
}
